  @font-face {
  font-family: Alvilde;
  src: url("../fonts/alvilde.regular.ttf");
  }
  @font-face {
    font-family: Alvilde;
    src: url("../fonts/alvilde.regular.ttf");
    font-weight: bold;
  }
  @font-face {
    font-family: Alvilde;
    src: url("../fonts/alvilde.regular.ttf");
    font-style: italic;
  }
  @font-face {
    font-family: panton;
    src: url("../fonts/Panton-SemiBold.ttf");
  }
 @font-face {
    font-family: panton;
    src: url("../fonts/Panton-ExtraBold.ttf");
    font-weight: bold;
  }
  @font-face {
    font-family: simvoni;
    src: url("../fonts/Simvoni.otf");
  }
 @font-face {
    font-family: simvoni;
    src: url("../fonts/Simvoni-Bold.otf");
    font-weight: bold;
  }
   @font-face {
    font-family: simvoni;
    src: url("../fonts/Simvoni-Italic.otf");
    font-style: italic;
  }
  body {
    margin: 0em 3em 0 3em;
    font-family: Alvilde;
  }
  h1 {
    text-align: center; 
    font-size: 2em;
    color: black;
    font-family: Alvilde;
  }
  h2 {
    text-align: left;
    color: black;
    font-style: bold;
    font-family: Alvilde;
  }
  .container {
    margin: 3em;
  }
  .row {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
  }
  .center {
    display: flex;
    justify-content: center;
  }
  .center-y {
    align-items: center;
  }
  .wrapper {
    position: relative;
  }
  .menu {
    margin: auto;
  }
  .menu ul {
    padding: 0;
    list-style-type: none;
  }
  .menu li {
    display: inline;
  }
  .button {
    background-color: black;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 20px 20px;
    cursor: pointer;
    border-radius: 50px;
  }
  .button:hover{
      border: solid 1 black;
      color:black;
    }
  .button:active{
      border: solid 1 black;
      color:black;
    }

/*slider css values*/
  .slider {
    width:100%;
    height: 450px;
    max-width: 600px;
    position: relative;
    overflow: hidden;
  }
  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.5s;
  }
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
  }
  .btn:active {
    transform: scale(1.1);
  }
  .btn-prev {
    top: 45%;
    left: 2%;
  }
  .btn-next {
    top: 45%;
    right: 2%;
  }
